<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
</head>
<body>
  <div class="container">
    <h2 class="title">Enter Your Password</h2>
    <div class="form-container">
      <form action="/password" method="post" class="password-form">
        <div class="form-group">
          <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
      {% if password_error %}
      <p class="error" style="font-size: 20px;">{{ password_error }}</p>
      {% endif %}
    </div>
  </div>
</body>
</html>
