
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: blueviolet;
    margin-top: 20px;
}

.admin {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 70px;
  }
  
  .header-options {
    display: flex;
  }
  
  .header-options a {
    font-family: Arial, sans-serif;
    color: #dfff00;
    text-decoration: none;
    margin-left: 30px;
  }
  

.question-box {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option-box {
    margin-bottom: 10px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus, textarea {
    outline: none;
    /* border-color: #007bff; */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="text"]::placeholder, textarea {
    color: #aaa;
}

.submit input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit input[type="submit"]:hover {
    background-color: #0056b3;
}
